
<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  {% include head-custom.html %}
    
  {% seo %}
</head>

<body>
  
  <header>
    <div class="container">
      <a id="a-title" href="{{ '/' | relative_url }}">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
      </a>
      <h2>{{ site.description | default: site.github.project_tagline }}</h2>
    </div>
  </header>

  <div>
    <table>
      <tr>
	<td><a href="{{ '/' | relative_url }}"><h3>Home</h3></a></td>
	<td><a href="codereview.html"><h3>Code Review</h3></a></td>
	<td><a href="{{ 'milestone2.md' | relative_url }}"><h3>Milestone 2</h3></a></td>
	<td><a href="milestone3.md"><h3>Milestone 3</h3></a></td>
	<td><a href="milestone4.md"><h3>Milestone 4</h3></a></td>
	  
      </tr>
    </table>
  </div>
  
  <div>
    {{ content }}
  </div>
</body>
